

<div id="menue-left" class="row">
  <div class="draggable table col-lg-2">Table</div>
  <div class="draggable station col-lg-2">Waiter Station</div>
  <div class="draggable storage col-lg-2">Storage</div>
  <div class="draggable pass col-lg-2">Kitchen Pass</div>
  <div class="draggable bar col-lg-2">Bar Area</div>
  <div class="draggable pos col-lg-2">POS</div>
</div>

<div>
  <div class="droppable">
  </div>
</div>


<script>
  // retrieve the coordinates saved in the database and render the elements accordingly
  var elements = <%= @restaurant.floorplans.to_json.html_safe %>;
  elements.forEach(function (element) {

  console.log('element.id:', element.id)
    var $elem = $("<div></div>");
      $elem.attr("id", element.id);
      $elem.addClass("draggable");
      $elem.wrap("<div class='droppable'></div>")
      $elem.css({
        "position": "absolute",
        "top": element.top,
        "left": element.left,
        "height": element.height,
        "width": element.width,
        "background-color": element.background
      });
      console.log('$elem:', $elem);
      $elem.appendTo("body");

  });
</script>
