

<div id="menue-left" class="row">
  <div id="shape1" class="draggable table col-lg-3"></div>
  <div id="shape2" class="draggable station col-lg-3"></div>
  <div id="shape3" class="draggable storage col-lg-3"></div>
  <div id="shape4" class="draggable pass col-lg-3"></div>
  <div id="shape5" class="draggable bar col-lg-3"></div>
</div>

<div>
  <div class="droppable">
  </div>
</div>
