<!-- <div id="draggable" class="ui-widget-content">
  <p>Drag me to my target</p>
</div>

<div id="droppable" class="ui-widget-header">
  <p>Drop here</p>
</div> -->

<div id="menue-left">
  <div id="shape1" class="draggable"></div>
  <div id="shape2" class="draggable2"></div>
</div>
<div class="droppable">
</div>
