<h1 >Edit your Details</h1>

<%= render 'form', operator: @operator %>


<br>

<button type="button" class="btn btn-default"><%= link_to 'Back', operators_path %></button>
<small class="small">
  <%= link_to 'Back', operators_path %>
</small>
