<h1>Welcome to Seat Them All</h1>

<button type="button" name="Login" class="btn btn-primary"><a href="/login">Login</a></button>
<button type="button" name="Register" class="btn btn-primary"><a href="/operators/new">Register</a></button>
