
<div class="container box">
  <h1>Welcome to Seat Them All</h1>

  <%= link_to("/login") do %><button type="button" class="btn btn-default">Login</button><% end %>
  <%= link_to("/operators/new") do %><button type="button" class="btn btn-default">Register</button><% end %>

</div>
