<h1>Welcome to Seat Them All</h1>

<button type="button" class="btn btn-default"><%= link_to("Login", "/login") %></button>
<button type="button" class="btn btn-default"><%= link_to("Register", "/operators/new") %></a></button>
