/*#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}

#droppable {
  width: 90%;
  height: 600px;
  padding: 0.5em;
  float: left;
  margin: 10px;
}*/


.draggable {
    width: 20px;
    height: 20px;
    background-color: red;
		border-radius: 3px;
}

.droppable {
	margin: 0px;
  padding: 0px;
	width: 1000px;
	height: 600px;
	padding: 10px;
	border: 2px solid #000;
	border-radius: 3px;
	/*float: right;*/
	background-color: white;
	-webkit-box-shadow: 1px 1px 2px white;
	-moz-box-shadow: 1px 1px 2px white;
	box-shadow: 1px 1px 2px white;
	}

.station {
	background-color: gray;
}

.storage {
	background-color: rebeccapurple;
}

.pass {
	background-color: green;
}

.bar {
	background-color: teal;
}
